#head_log{
    position:absolute;
    width:50px;
    height:20px;
    right:30px;
    top:5px;
}
#head_show_name{
     position:absolute;
    width:50px;
    height:20px;
    right:80px;
    top:5px;
}