#Login_id_edit{
        position:absolute;
          top:260px;
        right:420px;
    	width:100px;
    	height:20px;
        font-size:large;
        font-weight:900 bold;
}

#Login_pwd_edit{
        position:absolute;
        top:300px;
        right:420px;
    	width:100px;
    	height:50px;
        font-size:large;
        font-weight:900 bold;
}


#Login_id{
      position:absolute;
        top:260px;
        right:320px;
    	width:150px;
    	height:20px;
        font-size:large;
        font-weight:900 bold;
}
#Login_pwd{
     position:absolute;
        top:300px;
        right:320px;
    	width:150px;
    	height:20px;
        font-size:large;
        font-weight:900 bold;
}

#Login_login{
    position:absolute;
        top:340px;
        right:460px;
}

#Login_login_admin{
    position:absolute;
        top:340px;
        right:320px;
}
body
  { 
  background: #abede1 url(loginback.jpg) no-repeat fixed top;
  }
#Image1
{
    position:absolute;
    top:180px;
    left:260px;
}

#errmsg
{
     position:absolute;
        top:380px;
        right:320px;
}